#超算基地
Host sc
	HostName 202.99.199.153
        Port 2224
		IdentityFile ~/.ssh/id_rsa
		User st3_chen
Host cu04
	HostName 192.168.1.240
		Port 22
		#IdentityFile ~/.ssh/id_rsa
		User root
Host mic2
	HostName 101.7.145.208
		Port 22
		IdentityFile ~/.ssh/id_rsa
		User xjy
Host sc02
	HostName 49.234.233.219
        Port 10002
		IdentityFile ~/.ssh/id_rsa
		User root
