snippet pd "pandas" b
import pandas as pd
$0
endsnippet

snippet np "numpy" b
import numpy as np
$0
endsnippet

snippet plt "matplotlib.pyplot" b
from matplotlib import pyplot as plt
$0
endsnippet

snippet pr "print" bA
print($0)
endsnippet


# snippet plt "matplotlib.pyplot" b
# import matplotlib.pyplot as plt
# $0
# endsnippet

snippet fft "Fast Fourier Transformation" b
from scipy.fftpack import fft
$0
endsnippet
