snippet fori "for 循环；c 语言风格" b
for (( i = 2; i < 77; i++ )); do
    you-get https://www.bilibili.com/video/av45592797?p=$i
done
endsnippet

snippet for "for 循环； bash风格" b
for i in {2..77}; do
    you-get https://www.bilibili.com/video/av45592797?p=$i
done
endsnippet


snippet ! "#! /bin/sh" b
#! /bin/sh

endsnippet

snippet for2 "for 循环；步距为2; bash风格" b
for i in {1..10..2}; do
    you-get https://www.bilibili.com/video/av45592797?p=$i
done
endsnippet
