[Unit]
Description=backup_ehforwarderbot qq Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/rsync -aq --delete -e ssh aliyun:~/.ehforwarderbot/profiles/qq %h/.HHD/bak/efb/ehforwarderbot/profiles

[Install]
WantedBy=default.target
