# export PATH="$PATH:/usr/local:/usr/bin"

xrandr --dpi 120
# xrandr --output eDP-1  --gamma 0.85:1.10:1.05 --brightness 1.0
# xrandr --output edp-1  --gamma 0.90:1.10:1.00 --brightness 1.0
# xrandr --output eDP-1  --gamma 0.90:1.10:1.00 --brightness 1.0
# xrandr --output eDP-1  --gamma 0.85:1.15:1.00 --brightness 1.0
# xrandr --output eDP-1  --gamma 0.85:1.10:1.00 --brightness 1.0
# xrandr --output eDP-1  --gamma 0.85:0.95:1.05 --brightness 1.0
# xrandr --output eDP-1  --gamma 0.85:1.10:1.00 --brightness 1.0
export LANG=zh_CN.UTF-8
# export LC_ALL=zh_CN.UTF-8


# export GTK_IM_MODULE=ibus
# export QT_IM_MODULE=ibus
# export XMODIFIERS="@im=ibus"

export GTK_IM_MODULE=fcitx5 
# # 针对 wps https://wiki.archlinux.org/title/WPS_Office_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)#Fcitx5_%E6%97%A0%E6%B3%95%E8%BE%93%E5%85%A5%E4%B8%AD%E6%96%87
export QT_IM_MODULE=fcitx5 
export XMODIFIERS="@im=fcitx5" 

# for Hardware video acceleration using Nvidia
export LIBVA_DRIVER_NAME=iHD
export LIBVA_DRIVERS_PATH=/usr/lib/dri/
export VDPAU_DRIVER=va_gl

# https://forum.manjaro.org/t/xorg-session-log-becomes-huge/115336/5
# QT_LOGGING_RULES='*=false'
# export QT_LOGGING_RULES
