xrandr --dpi 192
# xrandr --output eDP-1  --gamma 0.85:1.10:1.00 --brightness 1.0
export LANG=zh_CN.UTF-8
# export LC_ALL=zh_CN.UTF-8
#
# kde 安装 xdg-desktop-portal-kde 后，
# 设置 环境变量 
export GTK_USE_PORTAL=1
# 就能让大部分 gtk 程序 用 带预览 的 kde 文件 选择器 对话框




export GDK_SCALE=2
export GDK_DPI_SCALE=0.5

export GTK_IM_MODULE=fcitx 
# # 针对 wps https://wiki.archlinux.org/title/WPS_Office_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)#Fcitx5_%E6%97%A0%E6%B3%95%E8%BE%93%E5%85%A5%E4%B8%AD%E6%96%87
export QT_IM_MODULE=fcitx 
export XMODIFIERS="@im=fcitx" 

# for Hardware video acceleration using intel
export LIBVA_DRIVER_NAME=iHD
export LIBVA_DRIVERS_PATH=/usr/lib/dri/

# https://forum.manjaro.org/t/xorg-session-log-becomes-huge/115336/5
# QT_LOGGING_RULES='*=false'
# export QT_LOGGING_RULES
