[Unit]
Description=%FILE% Service
After=network.target

[Service]
ExecStart=/usr/bin/aria2c  --conf-path=%h/.config/aria2/aria2.conf

[Install]
WantedBy=default.target
